body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(67, 71, 71);
}

#myH1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 38, 38);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: whitesmoke;
}

#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: aquamarine;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.749);
    margin-bottom: 25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn {
    background-color: green;
}

#startBtn:hover {
    background-color: rgb(11, 243, 11);
}

#stopBtn {
    background-color: red;
}

#stopBtn:hover {
    background-color: rgb(103, 4, 4);
}

#resetBtn {
    background-color: blue;
}

#resetBtn:hover {
    background-color: rgb(4, 4, 49);
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    #myH1 {
        font-size: 2.5rem; 
    }

    #container {
        width: 100%;
        padding: 20px;
    }

    #display {
        font-size: 3.5rem; 
        margin-bottom: 15px;
    }

    #controls button {
        font-size: 1.2rem;  
        padding: 8px 16px;  
        min-width: 100px;  
    }
}

@media (max-width: 360px) {
    #myH1 {
        font-size: 2rem;  
    }

    #container {
        padding: 5px; 
    }

    #display {
        font-size: 1.5rem;  
        margin-bottom: 10px;
        padding: 5px;
    }

    #controls button {
        font-size: 1rem;  
        padding: 6px 5px;  
        min-width: 50px;  
    }
}
